h1 {
    text-align: center;
    background-color: rgb(34, 32, 32);
    color: white;
    padding: 1%;
}

#sidebar {
    background-color: rgb(235, 225, 225);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    height: 100%;
    width: 25%;
    position: fixed;
}

#main {
    display: left;
    margin-left: 0%;
}

#current-city-conditions {
    border-style: solid;
    border-width: thin;
    margin-left: 40%;
}

.five-day {
    display: flex;
    justify-content: center;
}